body{
    background-color: #f4f8fb;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url('https://i.imgur.com/RurqKDM.jpg');
    color: white;
    padding: 50px,20px;
    background-size: cover;
    background-position: center;
}

header h1{
    margin-bottom: 20px;
}

header p{
    margin-bottom: 30px;
}

section{
    display: flex;
    justify-content: center;
    padding: 20px;
}


section div {
    margin: 10px; 
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section div:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}